.dot {
  opacity: 0;
}

.dot_one {
  animation: dot_one 2s infinite linear;
}

.dot_two {
  animation: dot_two 2s infinite linear;
}

.dot_three {
  animation: dot_three 2s infinite linear;
}

@keyframes dot_one {
  0%,
  15% {
    opacity: 0;
  }
  25%,
  100% {
    opacity: 1;
  }
}

@keyframes dot_two {
  0%,
  25% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

@keyframes dot_three {
  0%,
  50% {
    opacity: 0;
  }
  75%,
  100% {
    opacity: 1;
  }
}
